.DS_Store
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
api/vendor/
api/composer.lock
src/modules/test/Casera.vue
src/modules/test/Plenos.vue
api/app/Department.php
node_modules/
src/config.js
api/.env
dist/
